
header,
nav,
.navbar,
.search-box,
.links {
    background-color: #1A2B34 !important;
}

.navbar .title,
.navbar .site-name,
.navbar .nav-link.router-link-active,
.navbar .nav-link.external,
.navbar path,
.sidebar .nav-links .title,
.sidebar .nav-links .nav-link,
.sidebar .nav-links .nav-link.external {
    color: #FFF !important;
}   


html,
body,
.sidebar,
.hero {
    background-color: #FAFBFC !important;
}

li,
p {
    font-weight: 600;
}

:focus {
    outline: 0;
}

.site-name {
    font-family: 'Noto Sans KR', sans-serif;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
    font-family: 'Noto Sans KR';
    font-weight: 400 !important;
}


.description {
    color: #4F4A41 !important;
}

blockquote {
    background-color: #EAE7DC;
    color: #123C69;
}

.content__default {
    font-family: 'Noto Serif KR', serif;
}