// colors
$accentColor = #1A2B34
$textColor = #24292E
$borderColor = #24292E
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 90%)
$badgeErrorColor = #DA5961